# Ignore all environment variable files
.env
.env.local
.env.*.local

# Ignore entire ChromaDB vector store and SQLite databases
instance/*.sqlite3
instance/learn_with_kabeer.sqlite3
instance/chromadb/

# Ignore Dataset folder
dataset/

# Ignore Python caches and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ignore Python virtual environments
venv/
env/
.venv/

# ignore pycache and other temporary files
__pycache__/   
