<div class="canvas-item group/blk" id="${block.id}" data-type="text">
    <p contenteditable="true" 
       onblur="updateBlockData('${block.id}', {text: this.innerText})" 
       class="m-0 cursor-text text-base leading-7 text-gray-700 focus:outline-none whitespace-pre-wrap w-full text-left">
        ${block.data.text}
    </p>
    <div class="item-controls">
        <div class="control-btn drag-handle"><i data-lucide="grip-vertical" class="w-4 h-4"></i></div>
        <button class="control-btn" onclick="duplicateBlock('${block.id}')" title="Duplicate"><i data-lucide="copy" class="w-4 h-4"></i></button>
        <button class="control-btn delete" onclick="deleteBlock('${block.id}')" title="Delete"><i data-lucide="trash-2" class="w-4 h-4"></i></button>
    </div>
</div>